.strip-container {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  height: 57px;
  width: 508px;
  position: relative;
  background-color: white;
}

.strip-container-partial {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  height: 57px;
  width: 216px;
  background-color: white;
}

.strip-callsign {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 80px;
  border-right: 1px solid black;
}

.strip-data {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.indented {
  transform: translateX(-24px);
}

.strip-toggle-indent {
  z-index: 2;
  position: absolute;
  left: 0;
  height: 100%;
  width: 25px;
  background: transparent;
  border: none;
}

.dragging-preview-full {
  width: 508px;
  height: 57px;
  overflow: visible;
}

.dragging-preview-full .middle-bar {
  background-color: black;
  width: 508px;
  height: 2px;
}

.dragging-preview-half {
  width: 216px;
  height: 57px;
  overflow: visible;
}

.dragging-preview-half .middle-bar {
  background-color: black;
  width: 216px;
  height: 2px;
}

.right-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid rgb(0, 0, 0);
  right: 0;
  transform: translate(12px, -10px);
}

.left-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid rgb(0, 0, 0);
  transform: translate(-12px, -10px);
}
